* {
    user-select: none;         /* Chuẩn */
    -webkit-user-select: none; /* Safari/Chrome */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Edge cũ */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: beige;
}

a{
    user-select: none;      /* không thể bôi đen */
    -webkit-user-drag: none; /* Chrome/Safari */
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;      /* ngăn kéo thả */
}

img{
    -webkit-user-drag: none; /* Chrome, Safari */
    -moz-user-drag: none;    /* Firefox */
    -ms-user-drag: none;     /* Edge */
    user-select: none;
}
