#section3{
    /* background-color: rgb(95, 170, 170); */
    height: 100vh;
    display: flex;
    font-family: 'Roboto', sans-serif;
}

#section3 h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-family: "Bebas Neue", cursive;
}

#section3 img {
    height: auto;
    transform: scaleX(-1); /* lật ngang */
}

#section3 div:first-child{
    margin-right: 50px;
}

#section3 div:last-child{
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;    
    box-sizing: border-box;
}

#section3 div:last-child p {
    font-size: 1rem;    
    font-weight: 300;  
    line-height: 1.8;    
    color: #555;   
    max-width: 700px;  
    font-family: 'Roboto', sans-serif; 
}

.fade-item {
    opacity: 0;
    transform: translateX(-100px); 
    transition: all 1s ease-out;
}

.fade-item.show {
    opacity: 1;
    transform: translateX(0);
}

/* ============================= */
/* Responsive cho tablet/mobiles */
/* ============================= */
@media (max-width: 1024px) {
    #section3 h2 {
        font-size: 2.5rem;
    }

    #section3 div:first-child {
        margin-right: 30px;
    }

    #section3 div:last-child {
        padding: 15px 30px;
    }
}

@media (max-width: 768px) {
    #section3 {
        flex-direction: column;
        padding: 20px 15px;
    }

    #section3 div:first-child {
        margin-right: 0;
        margin-bottom: 20px;
    }

    #section3 div:last-child p {
        font-size: 0.95rem;
        max-width: 90%;
    }

    #section3 h2 {
        font-size: 2rem;
    }
    #section3 img {
        height: 80%;
    }
    #section3 div:last-child {
        padding: 10px 20px;
    }
}

@media (max-width: 480px) {
    #section3 div:last-child p {
        font-size: 0.85rem;
        max-width: 95%;
    }

    #section3 h2 {
        font-size: 1.5rem;
    }
}